body, html {
    height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #0b0633;
}

.intro-left {
    background-color: #0b0633;
    color: #ffffff;
    position: fixed;
    left: 0;
    height: 100%;
    width: 33.3333%;
}

@media (max-width : 768px) {
    .intro-left {
        height: 33vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
    .name {
        display: none;
    }
    .portfolio {
        display: none;
    }
    .display-6 {
        font-weight: 500;
    }
    .profilePic {
        display: none;
    }
    #myBtn {
        display: none;
    }
    label {
        display: none;
    }
}



/*NAV Start*/
.nav .nav-link:hover {
    color: #D0E156;
}
.nav-link {
    color: #0b0633;
    font-weight: 400;
    position: relative;
}

.nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #0b0633;
    width: 0%;
    height: 2px;
}

.nav-link:hover::after {
    width: 100%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Reduced NAV on Mobile */
@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .nav-link {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
     }
     .nav-link ul {
         flex-direction: column;
         width: 100%;
     }
     .nav-link li {
         width: 100%;
     }
     .img-fluid {
        max-width: 100%;
        height: 250px;
    }
    
}
/*NAV End*/

.full-height {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 15%;
}

.info {
    text-decoration: underline #D0E156;
    margin-top: 50px;
    margin-bottom: 50px;
}
.profilePic {
    float: right;
    width: 20%;
    height: 14rem;
    border-radius: 50%;
    margin: 1rem;
}

.skill_img {
    width: 6.9rem;
    height: 10rem;
    margin: 1rem;
}

section {
    margin: 2.5rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

span {
    text-align: center;
}

/*Back to Top Button*/
.to-top {
    background-color: #D0E156;
    position: fixed;
    bottom: 16px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color:#0b0633;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 0.5;
}

p,input,textarea,label {
     color: #0b0633
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*Form*/
form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding: 30px 0;
}

input,textarea, label {
    display: block;
    margin: 0 auto;
    width: 70%;
    color: #0b0633;
}

input,textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0b0633;
}

input[type=submit] {
    background-color: #0b0633;
    padding: 15px;
    color: #D0E156;
    font-size: 18px;
    border-bottom: none;
    margin-top: 20px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color:#D0E156;
    padding: 15px;
    color: #0b0633;
    font-size: 18px;
    border-bottom: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 1000ms;
}

input,textarea {
    color: #0b0633;
    font-size: 1.5rem;
    font-weight: 200;
}

input:focus, textarea:focus {
    outline: 1px solid #D0E156;
}

a {
    color: #828282;
    text-decoration: none;
}

a:hover {
    color: white;
}

textarea {
    margin-left: 100px;
}

/*Connect Links*/
.contact-link {
    margin: 0 auto;
    width: 2rem;
    height: 1;
    margin: 1rem;
}



/*.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }*/
