body, html {
    height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #0b0633;
}

.intro-left {
    background-color: #0b0633;
    color: #ffffff;
    position: fixed;
    left: 0;
    height: 100%;
    width: 33.3333%;
}

@media (max-width : 768px) {
    .intro-left {
        height: 33vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
    .name {
        display: none;
    }
    .portfolio {
        display: none;
    }
    .display-6 {
        font-weight: 500;
    }
    .profilePic {
        display: none;
    }
    #myBtn {
        display: none;
    }
}



/*NAV Start*/
.nav .nav-link:hover {
    color: #D0E156;
}
.nav-link {
    color: #0b0633;
    font-weight: 400;
    position: relative;
}

.nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #0b0633;
    width: 0%;
    height: 2px;
}

.nav-link:hover::after {
    width: 100%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Reduced NAV on Mobile */
@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .nav-link {
        position: sticky;
        display: none;
    }
    .nav {
        flex-direction: column;
     }
     .nav-link li {
         width: 100%;
     }
}
/*NAV End*/

.full-height {
    height: 100%;
}

.info {
    text-decoration: underline #D0E156;
    margin-top: 50px;
    margin-bottom: 50px;
}
.profilePic {
    float: right;
    width: 20%;
    height: 14rem;
    border-radius: 50%;
    margin: 1rem;
}

.skill_img {
    width: 6.9rem;
    height: 10rem;
    margin: 1rem;
}

section {
    margin: 2rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

span {
    text-align: center;
}

#myBtn {
    /*display: none;  Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0b0633; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 0.5;
  }
  
  #myBtn:hover {
    background-color: #D0E156; /* Add a dark-grey background on hover */
  }


/*.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }*/
