body, html {
    height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #0b0633;
}

.intro-left {
    background-color: #0b0633;
    color: #ffffff;
    position: fixed;
    left: 0;
    height: 100%;
    width: 33.3333%;
}

@media (max-width : 768px) {
    .intro-left {
        height: 33vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
    .name {
        display: none;
    }
    .portfolio {
        display: none;
    }
    .display-6 {
        font-weight: 500;
    }
    .profilePic {
        display: none;
    }
    #myBtn {
        display: none;
    }
    label {
        display: none;
    }
}

/*NAV Start*/

.navbar {
    float: right;
    color:#0b0633;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
} 

.navbar-links li a {
    text-decoration: none;
    color: #0b0633;
    padding: 1rem;
    font-weight: 400;
    display: block;
}

.navbar-links li a:hover {
    border-bottom: 2px solid #D0E156;
}

/*Mobile Nav*/
.toggle-button {
    color: white;
    font-size: 50px;
    position: absolute;
    bottom: 21rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    text-decoration: none;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
}
.skill-logo {
    text-align: center;
}

@media (max-width: 600px) {
    .panel-right {
        margin: 0px;
        padding: 0px;
    }
    .full-height {
        top: 0% !important;
    }

    h1 {
        text-decoration: underline #D0E156;
        margin-top: 50px !important;
        margin-bottom: 0px !important;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        display: none;
        background-color: #0b0633;
    }

    .navbar {
       padding-top: 5px;
        height: 10px;
        background-color: #0b0633;
        float: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links {
        text-align: center;
    }

    .navbar-links li  a {
        align-items: center;
        color: white;
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/*NAV End*/

.full-height {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 30%;
}

.info {
    text-decoration: underline #D0E156;
    margin-top: 100px;
    margin-bottom: 50px;
}
.profilePic {
    float: right;
    width: 20%;
    height: 14rem;
    border-radius: 50%;
    margin: 1rem;
}

.skill_img {
    width: 6.9rem;
    height: 10rem;
    margin: 1rem;
}

section {
    margin: 2.5rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

span {
    text-align: center;
}

/*Back to Top Button*/
.to-top {
    background-color: #D0E156;
    position: fixed;
    bottom: 16px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color:#0b0633;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 0.5;
}

a:hover {
    color: white;
}

/*Form*/
p,input,textarea,label {
     color: #0b0633
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 20px;
}

form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding: 30px 0;
}

input,textarea, label {
    display: block;
    margin: 0 auto;
    width: 70%;
    color: #0b0633;
}

input,textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0b0633;
}

input[type=submit] {
    background-color: #0b0633;
    padding:4px;
    color: #D0E156;
    font-size: 1.5remx;
    border-bottom: none;
    margin-top: 20px;
    cursor: pointer;

}
input[type=submit]:hover {
    background-color:#D0E156;
    padding: 4px;
    color: #0b0633;
    font-size: 1.5rem;
    border-bottom: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 500ms;
}

input,textarea {
    color: #0b0633;
    font-size: 1.5rem;
    font-weight: 200;
}

input:focus, textarea:focus {
    outline: 1px solid #D0E156;
}

/*FORM END*/

/*Connect Links*/

.connect {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    margin-bottom: 50px;
}
.connect-img, .connect-img2 {
    padding: 0 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}

.connect-img:hover {
    transform: rotate(-15deg);
}
.connect-img2:hover {
    transform: rotate(15deg);
}



/*.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }*/
